
/*
@media screen and (max-device-width: 480px) {

}
*/

p {
    display: block;
}

#p1 {
    background-color: blue;
}
#p2 {
    background-color: white;
}
#p3 {
    background-color: red;
}

header {
    background-position: center;
    background-image: url(..\img\logo-iut.jpg);
}

form {
    border: 2px solid black;
}

