



h1 {
    text-align: center;
    font-size: 2.5rem;
}

p {
    font-size: 1em;
    display: block;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}

header {
    width: 100%;    
    height: 100px;
    background-image: url(../img/logo-iut.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 300px;
}

form {
    display: block;
    border: 2px solid black;
    padding: 10px;
    max-width: 20%;
}

form h3 {
    text-align: center;
}

form div {
    text-align: center;
}

input {
    display: inline-block;
    margin: 8px;
    width: 75%;
}

table {
    text-align: center;
    border: 2px solid black;
}

th {
    background-color: silver;
}


@media screen and (max-device-width: 800px) {

    h1 {
        font-size: 8vw;
    }

    tr, td, th {
        display: block;
    }

    img {
        max-width: 100%;
    }

    form {
        max-width: 100%;
    }

    table, tbody {
        display: block;

    }


} /* END */